USE [master]
GO
/****** Object:  Database [s3l4-archiviazione]    Script Date: 27/02/2025 16:22:52 ******/
CREATE DATABASE [s3l4-archiviazione]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N's3l4-archiviazione', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\s3l4-archiviazione.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N's3l4-archiviazione_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\s3l4-archiviazione_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [s3l4-archiviazione].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [s3l4-archiviazione]
GO
/****** Object:  Table [dbo].[Impiegati]    Script Date: 27/02/2025 16:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Impiegati](
	[IDImpiegato] [int] IDENTITY(1,1) NOT NULL,
	[Cognome] [nchar](20) NOT NULL,
	[Nome] [nchar](20) NOT NULL,
	[CF] [nchar](16) NOT NULL,
	[Eta] [int] NOT NULL,
	[RedditoMensile] [money] NOT NULL,
	[DetrazioneFiscale] [bit] NOT NULL,
	[IDImpiego] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDImpiegato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Impieghi]    Script Date: 27/02/2025 16:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Impieghi](
	[IDImpiego] [int] IDENTITY(1,1) NOT NULL,
	[TipoImpiego] [nchar](30) NOT NULL,
	[Assunzione] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDImpiego] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Impiegati]  WITH CHECK ADD  CONSTRAINT [FK_id_impiego] FOREIGN KEY([IDImpiego])
REFERENCES [dbo].[Impieghi] ([IDImpiego])
GO
ALTER TABLE [dbo].[Impiegati] CHECK CONSTRAINT [FK_id_impiego]
GO
USE [master]
GO
